/* Importa a fonte Chakra Petch do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Estiliza o corpo da página */
body {
    background-image: url('./assets/image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /* Define a fonte padrão */
    background-color: #000000; /* Cor de fundo da página */
    display: flex; /* Usa Flexbox para layout */
    flex-direction: column; /* Alinha os itens na vertical */
    min-height: 100vh; /* Garante que o conteúdo preencha pelo menos a altura da viewport */
    margin: 0;
    padding: 0;
    align-items: center;
}

main {
    flex: 1; /* Permite que o conteúdo principal ocupe o espaço restante */
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.caixa-pesquisa {    
    padding-right: 2rem;
    padding-left: 1rem;
    padding-top: 3rem; 
    margin-bottom: 2rem; /* Espaço abaixo para evitar sobreposição com o footer */
}

/* Estiliza os títulos h1 */
h1 {
    font-size: 3.5rem; /* Tamanho da fonte */
    font-style: italic;
    color: coral; /* Cor do texto */
    text-align: center; /* Alinha o texto ao centro */
    letter-spacing: 0.3rem; /* Espaçamento entre letras */
}


h2 {
    text-align: center;
}


header p {
    font-size: 1.5rem; /* Tamanho da fonte */
    color: coral; /* Cor do texto */
    text-align: center; /* Alinha o texto ao centro */    
    margin-bottom: 2rem;    
}

/* Estiliza as seções da página */
section {
    display: flex; /* Usa Flexbox para layout */
    flex-direction: column; /* Alinha os itens na vertical */
    align-items: center; /* Centraliza os itens horizontalmente */
    margin-bottom: 3rem; /* Espaçamento abaixo de cada seção */
}

/* Estiliza os inputs dentro das seções */
section input {
    width: 30rem; /* Largura dos inputs */
    border: none; /* Remove a borda padrão */
    padding: 1rem; /* Espaçamento interno */
    border-radius: 1.5rem; /* Borda arredondada */
    margin-bottom: 2rem; /* Espaçamento abaixo dos inputs */
    color: #45474B; /* Cor do texto */
    font-size: 1rem; /* Tamanho da fonte */
    text-align: center;
    box-sizing: border-box; /* Inclui padding e border na largura total */
}


section img{
    display: block;
    margin: 0 auto; /* Centraliza horizontalmente */    
    height: 12rem;
    margin-bottom: 2rem;
    border-radius: 1.5rem;
}

/* Estiliza os botões dentro das seções */
section button {
    padding: 0.8rem 1.2rem; /* Espaçamento interno do botão */
    border: none; /* Remove a borda padrão */
    border-radius: 1.5rem; /* Borda arredondada */
    background-color: rgb(165, 62, 3); /* Cor de fundo do botão */
    color: #F5F7F8; /* Cor do texto do botão */
    font-size: 1rem; /* Tamanho da fonte */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
}


/* Adiciona efeito hover ao botão de pesquisa */
section button:hover {   
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05); /* Aumenta ligeiramente o tamanho do botão */
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}


/* Estiliza a caixa de resultados da pesquisa */
.resultados-pesquisa {
    width: 60rem; /* Largura máxima da caixa de resultados */
    max-height: 46vh; /* Altura máxima da caixa de resultados */
    min-height: 10rem; /* Altura mínima da caixa de resultados */
    overflow-y: auto; /* Adiciona rolagem vertical se necessário */
    margin-top: 1rem; /* Espaçamento acima da caixa de resultados */
    padding: 1rem; /* Espaçamento interno */

}



/* Estiliza cada item de resultado */
.item-resultado {
    background: #541212; /* Cor de fundo dos itens */
    width: 50rem; /* Largura da caixa de resultado */
    border-radius: 0.6rem; /* Borda arredondada */
    padding: 1rem; /* Espaçamento interno */
    margin-bottom: 1rem; /* Espaçamento abaixo dos itens */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra leve */
}

/* Estiliza os títulos dentro dos itens de resultado */
.item-resultado h2 {
    font-size: 1.5rem; /* Tamanho da fonte */
    color: coral; /* Cor do texto */
}

/* Estiliza os links dentro dos itens de resultado */
.item-resultado a {
    text-decoration: none; /* Remove o sublinhado padrão dos links */
    color: coral; /* Cor do texto dos links */
}

/* Estiliza os links quando são passados o mouse sobre */
.item-resultado a:hover {
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
}

/* Estiliza a descrição meta dentro dos itens de resultado */
.descricao-meta {
    color: coral; /* Cor do texto */
    margin: 0.5rem 0; /* Margem acima e abaixo */
}

.descricao-erro {    
    margin: 0.5rem 0; /* Margem acima e abaixo */
    font-size: 1rem;
    color: #ffe204; 
    text-align: center;
    letter-spacing: 0.1rem; /* Espaçamento entre letras */
}

/* Estiliza o rodapé da página */
footer {
    background-color: rgba(0, 0, 0, 0.666); /* Cor de fundo do rodapé */
    color: coral; /* Cor do texto */
    text-align: center; /* Alinha o texto ao centro */
    padding: 1rem; /* Adiciona algum espaçamento interno */
    width: 100%; /* Largura total da página */
    font-size: 1rem; /* Tamanho da fonte */
}


/* Estilos para tablets (768px - 1024px) */
@media (max-width: 1024px) {

    .caixa-pesquisa {        
        padding-top: 3.5rem;    
    }

    h1 {
        font-size: 3rem;
    }

    header p {
        font-size: 1.2rem; /* Tamanho da fonte */       
        margin-bottom: 3rem;    
    }

    /* Estiliza os inputs dentro das seções */
    section input {
        width: 25rem; /* Largura dos inputs */            
        font-size: 1rem; /* Tamanho da fonte */    
        padding: 0.6rem; /* Espaçamento interno */ 
        font-weight: bold;  
    }

    /* Estiliza os botões dentro das seções */
    section button {
        padding: 0.7rem 1rem; /* Espaçamento interno do botão */   
        font-size: 1rem; /* Tamanho da fonte */        
    }

    /* Estiliza a caixa de resultados da pesquisa */
    .resultados-pesquisa {
        width: 32rem; /* Largura máxima da caixa de resultados */        
    }


    /* Estiliza cada item de resultado */
    .item-resultado {       
        width: 30rem; /* Largura da caixa de resultado */    
        padding: 0.8rem; /* Espaçamento interno */
        margin-bottom: 1rem; /* Espaçamento abaixo dos itens */
    }



    .item-resultado h2 {
        font-size: 0.9rem; /* Tamanho da fonte */    
        margin-top: auto; /* Centraliza o título */       
    }


    .descricao-meta {
        font-size: 0.6rem;
    }

    .descricao-erro {    
        font-size: 0.8rem;
    }

    footer {
        font-size: 0.8rem;        
        padding-bottom: 1rem;
    }
}


@media (max-width: 540px) {

    body {
        background-image: url('./assets/image2.jpg');     
        background-position: top;      
        padding: 0;        
    }

    .caixa-pesquisa {    

        padding-top: 2rem;    
    }

    h1 {
        font-size: 2rem;
    }

    header p {
        font-size: 1.2rem; /* Tamanho da fonte */       
        margin-bottom: 2rem;    
    }

    /* Estiliza os inputs dentro das seções */
    section input {
        width: 18rem; /* Largura dos inputs */            
        font-size: 0.8rem; /* Tamanho da fonte */    
        padding: 0.4rem; /* Espaçamento interno */ 
        font-weight: bold;  
    }

    /* Estiliza os botões dentro das seções */
    section button {
        padding: 0.5rem 1rem; /* Espaçamento interno do botão */   
        font-size: 0.8rem; /* Tamanho da fonte */        
    }

    /* Estiliza a caixa de resultados da pesquisa */
    .resultados-pesquisa {
        width: 22rem; /* Largura máxima da caixa de resultados */        
    }


    /* Estiliza cada item de resultado */
    .item-resultado {       
        width: 20rem; /* Largura da caixa de resultado */    
        padding: 0.6rem; /* Espaçamento interno */
        margin-bottom: 1rem; /* Espaçamento abaixo dos itens */
    }


    /* Estiliza os títulos dentro dos itens de resultado */
    .item-resultado h2 {
        font-size: 1rem; /* Tamanho da fonte */    
        margin-top: auto; /* Centraliza o título */       
    }

    section img{  
        height: 8rem;
        margin-bottom: 1.5rem;
   
    }

    /* Estiliza a descrição meta dentro dos itens de resultado */
    .descricao-meta {
        font-size: 0.8rem;
    }

    .descricao-erro {    
        font-size: 0.8rem;
    }

    footer {
        font-size: 0.6rem;
        background-color: #000000;
        padding-bottom: 1rem;
    }
}
